<div class="header">Welcome to sample application!</div>
<br />
<br />
<div class="displayText">Display Text: <sa-fade-in-out [visible]='showDisplayText'>{{displayText}}</sa-fade-in-out></div>
<br />
<button (click)='btnClicked()' type="button">{{btnText}}</button>
<br />
<br />
<br />
<div>
    <div style="position:relative; font-size:7vmin; width: 100%; background-color: #484848; color: white; height: 20vmin;"
        saShrinkableHeader [shrinkAt]="0">
        <p style="position: absolute; margin: 0; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
            Sample Header!
        </p>
    </div> 
    <div class="articleContent">
        <!--<div style="position: relative; top:0; left: 0; font-size:7vmin; width: 100%; height: 20vmin;">

        </div>-->
        <p>
            1asdfjhgads aasdfuhapsodf qopgsadk uiadgjpooasdgjkas asdghgsadgpo lkjsad<br />
            2asdkljgadsg aslkdjf apod adsfpo fgiytasg gpoiasgh pjkew<br />
            3asdl dsfg asdpf etyk poij werjh mhdsfga zejhg cdsgj sgsadgjk asoighkjasdg<br />
            4oiuasjdfhga agpukhasg yusjdg sdfj nhagsdfl asdg asdlfjkhsadg<br />
            5asdfjhgads aasdfuhapsodf qopgsadk uiadgjpooasdgjkas asdghgsadgpo lkjsad<br />
            asdkljgadsg aslkdjf apod adsfpo fgiytasg gpoiasgh pjkew<br />
            asdl dsfg asdpf etyk poij werjh mhdsfga zejhg cdsgj sgsadgjk asoighkjasdg<br />
            oiuasjdfhga agpukhasg yusjdg sdfj nhagsdfl asdg asdlfjkhsadg<br />
            asdfjhgads aasdfuhapsodf qopgsadk uiadgjpooasdgjkas asdghgsadgpo lkjsad<br />
            asdkljgadsg aslkdjf apod adsfpo fgiytasg gpoiasgh pjkew<br />
            asdl dsfg asdpf etyk poij werjh mhdsfga zejhg cdsgj sgsadgjk asoighkjasdg<br />
            oiuasjdfhga agpukhasg yusjdg sdfj nhagsdfl asdg asdlfjkhsadg<br />
            asdfjhgads aasdfuhapsodf qopgsadk uiadgjpooasdgjkas asdghgsadgpo lkjsad<br />
            asdkljgadsg aslkdjf apod adsfpo fgiytasg gpoiasgh pjkew<br />
            asdl dsfg asdpf etyk poij werjh mhdsfga zejhg cdsgj sgsadgjk asoighkjasdg<br />
            oiuasjdfhga agpukhasg yusjdg sdfj nhagsdfl asdg asdlfjkhsadg<br />
            asdfjhgads aasdfuhapsodf qopgsadk uiadgjpooasdgjkas asdghgsadgpo lkjsad<br />
            asdkljgadsg aslkdjf apod adsfpo fgiytasg gpoiasgh pjkew<br />
            asdl dsfg asdpf etyk poij werjh mhdsfga zejhg cdsgj sgsadgjk asoighkjasdg<br />
            oiuasjdfhga agpukhasg yusjdg sdfj nhagsdfl asdg asdlfjkhsadg<br />
            asdfjhgads aasdfuhapsodf qopgsadk uiadgjpooasdgjkas asdghgsadgpo lkjsad<br />
            asdkljgadsg aslkdjf apod adsfpo fgiytasg gpoiasgh pjkew<br />
            asdl dsfg asdpf etyk poij werjh mhdsfga zejhg cdsgj sgsadgjk asoighkjasdg<br />
            oiuasjdfhga agpukhasg yusjdg sdfj nhagsdfl asdg asdlfjkhsadg<br />
            asdfjhgads aasdfuhapsodf qopgsadk uiadgjpooasdgjkas asdghgsadgpo lkjsad<br />
            asdkljgadsg aslkdjf apod adsfpo fgiytasg gpoiasgh pjkew<br />
            asdl dsfg asdpf etyk poij werjh mhdsfga zejhg cdsgj sgsadgjk asoighkjasdg<br />
            oiuasjdfhga agpukhasg yusjdg sdfj nhagsdfl asdg asdlfjkhsadg<br />
            asdfjhgads aasdfuhapsodf qopgsadk uiadgjpooasdgjkas asdghgsadgpo lkjsad<br />
            asdkljgadsg aslkdjf apod adsfpo fgiytasg gpoiasgh pjkew<br />
            asdl dsfg asdpf etyk poij werjh mhdsfga zejhg cdsgj sgsadgjk asoighkjasdg<br />
            oiuasjdfhga agpukhasg yusjdg sdfj nhagsdfl asdg asdlfjkhsadg<br />
            asdfjhgads aasdfuhapsodf qopgsadk uiadgjpooasdgjkas asdghgsadgpo lkjsad<br />
            asdkljgadsg aslkdjf apod adsfpo fgiytasg gpoiasgh pjkew<br />
            asdl dsfg asdpf etyk poij werjh mhdsfga zejhg cdsgj sgsadgjk asoighkjasdg<br />
            oiuasjdfhga agpukhasg yusjdg sdfj nhagsdfl asdg asdlfjkhsadg<br />
        </p>
    </div>
</div>